{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% block navbar %}
{% include 'navbar.html'%}
{% endblock %}

{% block content %}
<div class="container">
  <h3 style="color:black;text-align: center">Blog</h3>
  <br>
  {%for item in blogs%}
  <p>{{item.title}}</p>
  <p>{{item.content}}</p>
  <a  href="{{ url_for('main.new_comment', blog_id= item.id) }}"> <button>Comment</button> </a>
  <a href="{{ url_for('main.deleteBlog', id= item.id) }}"><button>Delete</button></a>

  {%endfor%}a
  {{quotes.author}}
  {{quotes.quotes}}
   
</div>

{% endblock %}